CLANG_ENABLE_MODULES = YES
CODE_SIGN_ENTITLEMENTS = ChromeExtensionHelper/ChromeExtensionHelper.entitlements
CODE_SIGN_IDENTITY = -
CODE_SIGN_STYLE = Automatic
COMBINE_HIDPI_IMAGES = YES
DEVELOPMENT_TEAM = 27AEDK3C9F
ENABLE_HARDENED_RUNTIME = YES
INFOPLIST_FILE = ChromeExtensionHelper/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.kishikawakatsumi.SourceKitForSafari.ChromeExtensionHelper
PRODUCT_MODULE_NAME = ChromeExtensionHelper
PRODUCT_NAME = SourceKit for Safari Chrome Extension Helper
SKIP_INSTALL = YES
SWIFT_OBJC_BRIDGING_HEADER = ChromeExtensionHelper/ChromeExtensionHelper-Bridging-Header.h
